.btn_club{
  background-color: #EBF8FF;
  outline: none;
  border: none;
  color: #63A8E7;
  width: 60% !important;
  transition: all .3s ease-out;
  transition: .3s ease-out;
}

.btn_club:hover{
  background-color: #EBF8FF;
  color: #63A8E7;
  transition: .3s ease-in;
}

.btn_club_idle{
  color: #8E8E8E;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}
.btn_club_idle:hover{
  color: #63A8E7;
  border-radius: 100px;
}

.btn_club_lead, .btn_club_lead:hover{
  background-color: #C3CFD9;
  color: #ffffff;
  border: none;
}

.card_tools{
  box-shadow: 0px 0.5px 2px -0.5px rgba(0, 0, 0, 0.15), 0px 2px 3px -0.5px rgba(0, 0, 0, 0.1);
}

.text_tools{
  font-size: 10.5px;
  font-weight: 500;
}


@media screen and (min-width: 1024px) {
  .coloumn_lead_card{
    border-left: dashed 3px #CFCFCF;
  }
}

@media screen and (max-width: 1024px){
  .btn_club, .btn_club_idle{
    width: 100% !important;
    white-space: nowrap;
    padding: 15px 25px;
  }
  .coloumn_club{
    box-sizing: border-box;
    overflow: hidden;
  }
  .coloumn_club_child{
    overflow: auto;
  }
  .coloumn_club_child::-webkit-scrollbar{display:none;}
}